* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Comme', sans-serif;
    background-color: #15131f;
    scroll-behavior: smooth;
}

nav {
    background-color: #0F0E17;
}

nav a {
    text-decoration: none;
}

.nav-item {
    margin-right: 3em;
    text-align: center;
    position: relative;
}

.nav-link {
    font-size: 0.93em;
    padding: 20px;
    display: block;
    color: #bbbbbb;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: 3px solid #5A245D;
    transition: width 0.3s, left 0.3s;
}

.nav-item:hover .nav-link::before {
    width: 100%;
    left: 0;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.show{
    margin: 0.5em 0;
}

.show .navbar-nav{
    align-items: center;
}

.show .nav-item{
    margin-bottom: 0.6em;
    margin-right: 0;
}

.show .nav-link{
    font-size: 16px;
}

.show .nav-link::before{
    display: none;
}

.custom-row {
    margin: auto 0;
}

footer {
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
    background-color: #191920;
    text-align: right;
    color: #eeeeee;
}

footer a {
    color: #eeeeee;
    text-decoration: none;
}

footer a:hover {
    color: #b6b6b6;
    text-decoration: none;
}

.footer-logo {
    width: 100px;
}

.links {
    padding-right: 5vw;
}

.social-media {
    padding: 0;
}

.social-media li {
    display: inline-block;
    font-size: 24px;
    margin-right: 0.3em;
}

.links h5, .follow h5 {
    padding-bottom: 10px;
}

.tiktok a {
    transition: color 0.2s ease;
}

.tiktok a:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(99deg, #69c9d0 20%, #010101 32%, #010101 59%, #ee1d52 71%);
    background-image: linear-gradient(99deg, #69c9d0 20%, #010101 32%, #010101 59%, #ee1d52 71%);
}

.youtube a {
    transition: color 0.2s ease;
}

.youtube a:hover {
    color: #c4302b;
}

.discord a {
    transition: color 0.2s ease;
}

.discord a:hover {
    color: #7289DA;
}

.instagram a {
    transition: color 0.2s ease;
}

.instagram a:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
    background-image: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.twitter a {
    transition: color 0.2s ease;
}

.twitter a:hover {
    color: #303030;
}

.copyright {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.copyright p {
    padding: 30px;
    background-color: #15151b;
    text-align: center;
    margin: 0;
}

@media (max-width: 500px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
    }
}

@media (max-width: 990px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
    }

    .nav-margin {
        margin: 0;
        max-width: 950px !important;
    }

    .text-adjust {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .logo {
        display: none;
    }

    .copyright p {
        font-size: 12px;
    }

    .links {
        font-size: 14px;
    }

    .links h5, .follow h5 {
        font-size: 16px;
    }

    .social-media li {
        font-size: 20px;
    }
}