section {
    margin: 4em 0 15em;
}

.form-box {
    border-radius: 20px;
    background-color: #191920;
    margin: auto;
    padding: 3rem;
    box-shadow: 2px 2px 15px #000000;
}

.form-input {
    background-color: #101014;
    padding: 20px;
    margin-top: 1.5em;
    width: 100%;
    font-size: 16px;
    color: #eeeeee;
    border: none;
    border-radius: 5px;
}

#timezone {
    margin-top: 0;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px #303030;
}

.submit-button {
    width: auto;
    padding: 10px 40px;
    font-size: 18px;
    background-color: #684c60;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
}

.submit-button:hover {
    background-color: #533e4d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-button:active {
    background-color: #3d2d39;
}

.submit-button:disabled {
    background-color: #5F545C;
    pointer-events: none;
}

.available-text {
    padding: 3rem;
    padding-left: 5.5rem;
}

.working-hours td {
    padding-bottom: 20px;
}

.day {
    padding-left: 5px;
    padding-right: 15px;
    font-weight: 600;
}

.number{
    font-size: 1.2em;
}

.mail-link {
    font-size: 1.1em;
    color: #fff;
    transition: color 0.15s ease;
}

.mail-link:hover {
    color: #c5c5c5;
    text-decoration: none;
}

.promote{
    margin-top: 4em;
    padding: 20px;
    background-color: #523549;
    border: solid 2px #69425d;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #0a0a0a;
}

.warning {
    color: #cc6565;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
}

.input-error {
    border: 2px solid #693434;
}

.success {
    align-items: center;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #183f21;
    color: #8bca9a;
    border: 2px solid #284b30;
}