* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Comme', sans-serif;
    background-color: #15131f;
    scroll-behavior: smooth;
}

nav {
    background-color: #0F0E17;
}

nav a {
    text-decoration: none;
    color: #eeeeee;
}

.nav-item {
    margin-right: 30px;
    flex: 1;
    text-align: center;
    position: relative;
}

.nav-link {
    font-size: 0.93em;
    padding: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: 3px solid #5A245D;
    transition: width 0.3s, left 0.3s;
}

.nav-item:hover .nav-link::before {
    width: 100%;
    left: 0;
}

section {
    margin: 4em 0 15em;
}

.form-box {
    border-radius: 20px;
    background-color: #191920;
    margin: auto;
    padding: 3rem;
    box-shadow: 2px 2px 15px #000000;
}

.form-input {
    background-color: #101014;
    padding: 20px;
    margin-top: 1.5em;
    width: 100%;
    font-size: 16px;
    color: #eeeeee;
    border: none;
    border-radius: 5px;
}

#timezone {
    margin-top: 0;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 10px #303030;
}

.submit-button {
    width: auto;
    padding: 10px 40px;
    font-size: 18px;
    background-color: #684c60;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.15s ease-in-out;
}

.submit-button:hover {
    background-color: #533e4d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-button:active {
    background-color: #3d2d39;
}

.submit-button:disabled {
    background-color: #5F545C;
    pointer-events: none;
}

.available-text {
    padding: 3rem;
    padding-left: 5.5rem;
}

.working-hours td {
    padding-bottom: 20px;
}

.day {
    padding-left: 5px;
    padding-right: 15px;
    font-weight: 600;
}

.mail-link {
    color: #fff;
    transition: color 0.15s ease;
}

.mail-link:hover {
    color: #c5c5c5;
    text-decoration: none;
}

.promote{
    margin-top: 4em;
    padding: 20px;
    background-color: #523549;
    border: solid 2px #69425d;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #0a0a0a;
}

.warning {
    color: #cc6565;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
}

.input-error {
    border: 2px solid #693434;
}

.success {
    align-items: center;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #183f21;
    color: #8bca9a;
    border: 2px solid #284b30;
}

.custom-row {
    margin: auto 0;
}

footer {
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
    background-color: #191920;
    text-align: justify;
    color: #eeeeee;
}

footer a {
    color: #eeeeee;
    text-decoration: none;
}

footer a:hover {
    color: #b6b6b6;
    text-decoration: none;
}

.footer-logo {
    width: 100px;
}

.link-padding {
    padding-right: 100px;
}

.social-media li {
    display: inline-block;
    font-size: 24px;
}

.tiktok a{
    transition: color 0.2s ease;
}

.tiktok a:hover {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(99deg, rgba(105,201,208,1) 20%, rgba(1,1,1,1) 32%, rgba(1,1,1,1) 59%, rgba(238,29,82,1) 71%); 
}

.youtube a {
    transition: color 0.2s ease;
}

.youtube a:hover {
    color: #c4302b;
}

.discord a {
    transition: color 0.2s ease;
}

.discord a:hover {
    color: #7289DA;
}

.instagram a {
    transition: color 0.2s ease;
}

.instagram a:hover {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.twitter a {
    transition: color 0.2s ease;
}

.twitter a:hover {
    color: #00acee;
}

.copyright {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.copyright p {
    padding: 30px;
    background-color: #15151b;
    text-align: center;
    margin: 0;
}

@media (max-width: 500px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
    }

    .hero-row h1 {
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .hero-row h4 {
        margin-top: 30px;
        font-size: 18px;
        font-style: italic;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    }

    .carousel-indicators {
        display: none;
    }

    .logo {
        display: none;
    }

    .link-padding {
        padding-right: 50px;
    }
}

@media (max-width: 990px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
    }

    .nav-margin {
        margin: 0;
        max-width: 950px !important;
    }

    .review-adjust {
        display: block;
    }

    .conditioner-pic {
        width: 150px !important;
        padding-bottom: 20px;
    }

    .text-adjust {
        font-size: 14px;
        text-align: justify;
        padding: 0 25px;
    }

    .text-adjust h2 {
        text-align: center;
    }
}

@media (max-width: 540px) {
    .logo {
        display: none;
    }
}

@media (max-width: 340px) {
    .links-block {
        display: block;
        text-align: center;
    }

    .link-padding {
        display: none;
    }
}

@media (max-width: 800px) {

    .hero-row h1 {
        font-size: 9vw;
    }

    .hero-row h4 {
        font-size: 4vw;
    }
}