* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Comme', sans-serif;
    background-color: #15131f;
    scroll-behavior: smooth;
}

nav {
    background-color: #0F0E17;
}

nav a {
    text-decoration: none;
    color: #eeeeee;
}

.nav-item {
    margin-right: 30px;
    flex: 1;
    text-align: center;
    position: relative;
}

.nav-link {
    font-size: 0.93em;
    padding: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: 3px solid #5A245D;
    transition: width 0.3s, left 0.3s;
}

.nav-item:hover .nav-link::before {
    width: 100%;
    left: 0;
}

.faq {
    margin: 12em 0 15em;
}

.question-mark {
    font-size: 3em;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #752e79, #ad6b9a)
}

.faq-title {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 2em;
    font-weight: bold;
}

.accordion {
    color: #eee;
}

.custom-accordion-button {
    position: relative;
    display: flex;
    color: #eee;
    background-color: transparent;
    font-size: 22px;
    border: none;
    text-align: left;
    width: 100%;
}

.custom-accordion-button::after {
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: auto;
    content: "+";
    font-size: 2.1rem;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s linear;
}

.custom-accordion-button:not(.collapsed)::after {
    transform: rotate(-45deg);
}

.custom-accordion-item {
    border-top: 1px solid rgba(150, 150, 150, 0.3);
}

.custom-accordion-item:last-child {
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}

.custom-accordion-header {
    background-color: transparent;
    padding: 1.5rem;
    cursor: pointer;
    margin: 0;
}

.contact-link {
    color: #bb98b1;
    transition: color 0.15s ease;
}

.contact-link:hover {
    color: #8E6582;
    text-decoration: none;
}

.custom-row {
    margin: auto 0;
}

footer {
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
    background-color: #191920;
    text-align: justify;
    color: #eeeeee;
}

footer a {
    color: #eeeeee;
    text-decoration: none;
}

footer a:hover {
    color: #b6b6b6;
    text-decoration: none;
}

.footer-logo {
    width: 100px;
}

.link-padding {
    padding-right: 100px;
}

.social-media li {
    display: inline-block;
    font-size: 24px;
}

.tiktok a{
    transition: color 0.2s ease;
}

.tiktok a:hover {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(99deg, rgba(105,201,208,1) 20%, rgba(1,1,1,1) 32%, rgba(1,1,1,1) 59%, rgba(238,29,82,1) 71%); 
}

.youtube a {
    transition: color 0.2s ease;
}

.youtube a:hover {
    color: #c4302b;
}

.discord a {
    transition: color 0.2s ease;
}

.discord a:hover {
    color: #7289DA;
}

.instagram a {
    transition: color 0.2s ease;
}

.instagram a:hover {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.twitter a {
    transition: color 0.2s ease;
}

.twitter a:hover {
    color: #00acee;
}

.copyright {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.copyright p {
    padding: 30px;
    background-color: #15151b;
    text-align: center;
    margin: 0;
}

@media (max-width: 500px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
    }

    .hero-row h1 {
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .hero-row h4 {
        margin-top: 30px;
        font-size: 18px;
        font-style: italic;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    }

    .carousel-indicators {
        display: none;
    }

    .logo {
        display: none;
    }

    .link-padding {
        padding-right: 50px;
    }
}

@media (max-width: 990px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
    }

    .nav-margin {
        margin: 0;
        max-width: 950px !important;
    }

    .review-adjust {
        display: block;
    }

    .conditioner-pic {
        width: 150px !important;
        padding-bottom: 20px;
    }

    .text-adjust {
        font-size: 14px;
        text-align: justify;
        padding: 0 25px;
    }

    .text-adjust h2 {
        text-align: center;
    }
}

@media (max-width: 540px) {
    .logo {
        display: none;
    }
}

@media (max-width: 340px) {
    .links-block {
        display: block;
        text-align: center;
    }

    .link-padding {
        display: none;
    }
}

@media (max-width: 800px) {

    .hero-row h1 {
        font-size: 9vw;
    }

    .hero-row h4 {
        font-size: 4vw;
    }
}