.faq {
    margin: 12em 0 15em;
}

.question-mark {
    font-size: 3em;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(45deg, #752e79, #ad6b9a);
    background-image: linear-gradient(45deg, #752e79, #ad6b9a);
}

.faq-title {
    margin-top: 15px;
    line-height: 1.5;
    font-size: 2em;
    font-weight: bold;
}

.accordion {
    color: #eee;
}

.custom-accordion-button {
    position: relative;
    display: flex;
    color: #eee;
    background-color: transparent;
    font-size: 22px;
    border: none;
    text-align: left;
    width: 100%;
    padding: 1.5rem;
}

.custom-accordion-button::after {
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: auto;
    content: "+";
    font-size: 2.1rem;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s linear;
}

.custom-accordion-button:not(.collapsed)::after {
    transform: rotate(-45deg);
}

.custom-accordion-item {
    border-top: 1px solid rgba(150, 150, 150, 0.3);
}

.custom-accordion-item:last-child {
    border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}

.custom-accordion-header {
    background-color: transparent;
    cursor: pointer;
    margin: 0;
}

.contact-link {
    color: #bb98b1;
    transition: color 0.15s ease;
}

.contact-link:hover {
    color: #8E6582;
    text-decoration: none;
}