* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Comme', sans-serif;
    background-color: #15131f;
    scroll-behavior: smooth;
}

nav {
    background-color: #0F0E17;
}

nav a {
    text-decoration: none;
    color: #eeeeee;
}

.nav-item {
    margin-right: 30px;
    flex: 1;
    text-align: center;
    position: relative;
}

.nav-link {
    font-size: 0.93em;
    padding: 20px;
    display: block;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: 3px solid #5A245D;
    transition: width 0.3s, left 0.3s;
}

.nav-item:hover .nav-link::before {
    width: 100%;
    left: 0;
}

section {
    margin: 4em 0 15em;
}

.card-wrapper {
    max-width: 75em;
    margin: 3.5em 0 3.5em 13em;
}

.category-title {
    padding-left: 3em;
}

.category-name {
    padding-left: 10px;
    font-size: 140%;
    color: #ae7db1;
    font-weight: bold;
}

.card-category {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7em;
}

.card-item {
    padding: 2em;
}

.card {
    flex-grow: 1;
    flex-basis: 200;
    position: relative;
    width: 320px;
    height: 480px;
    background: #191919;
    border-radius: 1.5em;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
    overflow: hidden;
    cursor: pointer;
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #5A245D;
    transform: skewY(25deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -50%;
    transform: skewY(10deg);
}

.card::after {
    content: var(--category-name);
    position: absolute;
    bottom: 0;
    left: 15px;
    font-weight: 600;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .contentBox {
    position: relative;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .contentBox .see {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #eee;
    text-decoration: none;
    background: #8E6582;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentBox .see {
    top: 0;
    opacity: 1;
}

.pc {
    height: 300px;
    width: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal-details {
    position: relative;
    display: block;
    background-color: #191920;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 1em 0;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 3em;
    cursor: pointer;
    color: #eee;
    opacity: 0.6;
    transition: opacity 0.2s ease-in-out;
}

.modal-close:hover{
    opacity: 1;
}

.spec-table table {
    margin: 1em auto;
    width: 60%;
    border-collapse: collapse;
    background-color: #242424;
    color: #fff;
}

.spec-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.spec-table .component {
    background-color: #5A245D;
    color: #fff;
    font-weight: bold;
}

.picture-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2em auto;
    gap: 5em;
}

.price {
    color: rgb(255, 187, 0);
    font-size: 2.6em;
}

.buy-button {
    display: inline-block;
    background: #8E6582;
    color: #fff;
    margin-top: auto;
    padding: 1em 7em;
    text-decoration: none;
    border-radius: 1.87em;
    text-align: center;
    transition: background 0.2s ease-in-out;
}

.buy-button:hover {
    background-color: #A08298;
    text-decoration: none;
    color: #eee;
}

.payment {
    padding-top: 1.5em;
}

.custom-row {
    margin: auto 0;
}

footer {
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
    background-color: #191920;
    text-align: justify;
    color: #eeeeee;
}

footer a {
    color: #eeeeee;
    text-decoration: none;
}

footer a:hover {
    color: #b6b6b6;
    text-decoration: none;
}

.footer-logo {
    width: 100px;
}

.link-padding {
    padding-right: 100px;
}

.social-media li {
    display: inline-block;
    font-size: 24px;
}

.youtube a {
    transition: color 0.2s ease;
}

.youtube a:hover {
    color: #c4302b;
}

.discord a {
    transition: color 0.2s ease;
}

.discord a:hover {
    color: #7289DA;
}

.instagram a {
    transition: color 0.2s ease;
}

.instagram a:hover {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.twitter a {
    transition: color 0.2s ease;
}

.twitter a:hover {
    color: #00acee;
}

.copyright {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.copyright p {
    padding: 30px;
    background-color: #15151b;
    text-align: center;
    margin: 0;
}

@media (max-width: 500px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
    }

    .hero-row h1 {
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .hero-row h4 {
        margin-top: 30px;
        font-size: 18px;
        font-style: italic;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    }

    .logo {
        display: none;
    }

    .link-padding {
        padding-right: 50px;
    }
}

@media (max-width: 1200px) {
    .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: end;
        margin-top: 10px;
    }

    .nav-link {
        font-size: 18px;
        padding: 5px 0;
        font-weight: 400;
    }

    .nav-margin {
        margin: 0;
        max-width: 950px !important;
    }

    .card-wrapper {
        margin: 3.5em 1em;
    }

    .picture-button {
        flex-direction: column;
        text-align: center;
        width: 80%;
    }

    .buy-button {
        margin-top: 10px;
    }
}

@media (max-width: 540px) {
    .logo {
        display: none;
    }
}

@media (max-width: 340px) {
    .links-block {
        display: block;
        text-align: center;
    }

    .link-padding {
        display: none;
    }
}

@media (max-width: 800px) {
    .card-wrapper {
        margin: 3.5em 1em;
    }

    .card-container {
        text-align: center;
    }

    .card-category {
        justify-content: center;
    }
}