section {
    margin: 4em 0 15em;
}

.pricing-table-wrapper {
    max-width: 71rem;
    margin: 3.5em auto;
}

.pricing-table {
    --pricing-table-color: #8E6582;
    color: #eee;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-gap: 2em;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.pricing-table-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27243680;
    padding: 2em;
    border-radius: 1.5em;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
}

.pricing-table-item:hover {
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.3);
    transform: translate(0, -10px);
}

.pricing-table-item-popular {
    position: relative;
    border: 2px solid #bb98b1;
}

.pricing-table-item-popular::before {
    position: absolute;
    content: attr(data-popular);
    top: 1.5em;
    right: 2em;
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
    background-color: hsl(51, 100%, 50%);
    border-radius: 1em;
    color: hsl(60, 5%, 15%);
}

.pricing-table-img {
    margin: 2.5em auto 4em;
    width: 100%;
    max-width: 9.3em;
}

.pricing-table-title {
    margin: 0;
    font-size: 1.7em;
}

.pricing-table-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.pricing-table-tagline {
    margin: 0;
    color: hsl(216, 3%, 63%);
    text-align: center;
}

.pricing-table-price {
    color: #eee;
    font-size: 2.5em;
    margin: 0.8em auto 0;
    font-weight: bold;
}

.pricing-table-label {
    margin: 0;
    color: hsl(220, 5%, 74%);
    font-size: 0.9em;
}

.pricing-table-save {
    border: 1px solid #cc8eb9;
    border-radius: 15px;
    padding: 2px 10px;
    margin-top: 10px;
    color: #eee;
    background-color: #796072;
    font-weight: bold;
    font-size: 1em;
}

.pricing-table-products {
    margin: 1.87em 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-table-product {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.pricing-table-product a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease-in-out;
}

.pricing-table-product a:hover {
    color: var(--pricing-table-color);
}

.pricing-table-product::before {
    content: '✔';
    margin-inline-end: 0.8em;
    border-radius: 50%;
    color: hsl(122, 59%, 67%);
}

.pricing-table-button {
    background: var(--pricing-table-color);
    color: #fff;
    margin-top: auto;
    padding: 1em 2em;
    text-decoration: none;
    width: 100%;
    border-radius: 1.87em;
    text-align: center;
    transition: background 0.2s ease-in-out;
}

.pricing-table-button:hover {
    background-color: #A08298;
    text-decoration: none;
    color: #eee;
}