.background-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: blur(2px);
}

.page-hero {
    position: relative;
    overflow: hidden;
}

.background-video-content {
    position: relative;
    z-index: 1;
}

video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.hero-overlay {
    backdrop-filter: blur(2px);
    height: 85vh;
}

.hero-row {
    text-align: center;
    color: #eeeeee;
    font-weight: bold;
}

.hero-row h1 {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    font-size: 72px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.2;
}

.hero-row h4 {
    margin-top: 30px;
    font-size: 26px;
    font-style: italic;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.animation-active {
    animation: slideDown 0.3s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

section {
    margin: 10vw 0;
}

hr{
    color: #eeeeee;
    margin: 0 15vw;
}

.about {
    margin: 10em 0 5em;
}

.about p {
    line-height: 2;
}

.about-text {
    padding-bottom: 4em;
}

.text-adjust {
    text-align: left;
}

.text-adjust img {
    width: 100%;
}

.text-adjust p {
    margin-top: 1.5em;
    font-size: 1.2em;
}

.text-adjust h3{
    font-size: 20px;
}

.animation-div {
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s all ease;
}

.animation-div.active {
    transform: translateY(0);
    opacity: 1;
}

.icons{
    width: 150px !important;
}

.row-animation:nth-child(1) {
    transition-delay: 0.2s;
}

.row-animation:nth-child(2) {
    transition-delay: 0.35s;
}

.row-animation:nth-child(3) {
    transition-delay: 0.5s;
}

.row-animation:nth-child(4) {
    transition-delay: 0.65s;
}

.row-animation:nth-child(5) {
    transition-delay: 0.8s;
}

.row-animation:nth-child(6) {
    transition-delay: 0.95s;
}

.service-blocks{
    font-size: 13px;
}

.service-blocks img {
    padding-bottom: 2rem;
}

.reviews {
    padding: 0 15vw;
    margin: 7em 0;
}

.review-adjust {
    padding: 7vw;
}

.carousel-control-next, .carousel-control-prev {
    width: 2%;
}

#scrollToTopBtn {
    z-index: 1000;
    display: none;
    position: fixed;
    bottom: 100px;
    right: 70px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #754767;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    animation: show 0.5s;
    transition: background-color 0.3s;
}

#scrollToTopBtn:active {
    background-color: #613b55;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 500px) {

    .hero-row h1 {
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .hero-row h4 {
        margin-top: 30px;
        font-size: 18px;
        font-style: italic;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    }

    .carousel-indicators {
        display: none;
    }
}

@media (max-width: 800px) {
    .carousel-indicators {
        display: none;
    }

    .reviews {
        padding: 0 2vw;
    }

    .hero-row h1 {
        font-size: 9vw;
    }

    .hero-row h4 {
        font-size: 4vw;
    }
}